<div class="row mb-5 mt-1">
  <div class="offset-3 col-4">
    <button [routerLink]="['/']"  class="btn btn-primary my-red-background">Retour</button>
  </div>
</div>
<div class="row mt-5">
  <div class="col-8 offset-4">
    <table border=1>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let consultant of consultants ">
        <td><a>{{consultant?.lastName | uppercase}}</a></td>
        <td><a>{{consultant?.name }}</a></td>
        <td><a>{{consultant?.description}}</a></td>
        <!-- TODO créer les boutons de modifications et de suppression -->
        <td></td>
      </tr>
    </table>
  </div>
</div>
<div class="row mt-5">
  <div class="col-4 offset-5">
    <button (click)="toggleForm()" class="btn btn-primary my-red-background">Créer un consultant</button>
  </div>
</div>
<div *ngIf="isVisible" class="row mt-5">
  <div class="col-5 offset-4">
    <form (ngSubmit)="register()" [formGroup]="consultantForm">
      <div class="row">
        <div class="col-2 mr-1">
          <label>Name</label>
        </div>
        <div class="col-6">
          <input formControlName="name">
        </div>
      </div>
      <div class="my-text-yellow" *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')"><strong>Consultant name is required</strong></div>
      <div class="row">
        <div class="col-2 mr-1">
          <label>Lastname</label>
        </div>
        <div class="col-6">
          <input formControlName="lastName">
        </div>
      </div>
      <div class="my-text-yellow" *ngIf="lastNameCtrl.dirty && lastNameCtrl.hasError('required')"><strong>Lastname is required</strong></div>
      <div class="row">
        <div class="col-2 mr-1">
          <label>Description</label>
        </div>
        <div class="col-6">
          <input formControlName="description">
        </div>
      </div>
      <div class="my-text-yellow" *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('required')"><strong>Description is required</strong></div>
      <div class="row mt-3">
        <div class="col-4 offset-4">
          <button [disabled]="consultantForm.invalid" class="btn btn-primary my-red-background" type="submit">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--  -->
