<div class="row mb-5 mt-1">
  <div class=" col-4">
    <button [routerLink]="['/']" class="btn btn-primary my-red-background">Retour</button>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12" style="text-align: center;">
    <table border=1>
      <tr>
        <th>Nom Startup</th>
        <th>Représentant</th>
        <th>Nombre de co-fodateurs</th>
        <th>Description</th>
        <th>Adresse</th>
        <th>Nom consultant</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let startup of startups ">
        <td><a>{{startup?.name | uppercase}}</a></td>
        <td><a>{{startup?.legalAgent }}</a></td>
        <td><a>{{startup?.coFounders | cofounders}}</a></td>
        <td><a>{{startup?.description }}</a></td>
        <td><a>{{startup?.address | address}}</a></td>
        <td><a>{{startup?.consultant?.name | uppercase}}</a></td>
        <td>
          <button type="button" class="btn btn-outline-dark"><i class="fas fa-plus-square"></i></button>
          <button (click)="delete(startup.id)" type="button" class="btn btn-outline-dark"><i class="far fa-trash-alt"></i></button>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row mt-5 mb-3">
  <div class="col-4 offset-5">
    <button (click)="toggleForm()" class="btn btn-primary my-red-background">Créer une startup</button>
  </div>
</div>
<div *ngIf="isVisible" class="row mt-5">
  <div class="col-5 offset-4">
    <form (ngSubmit)="register()" [formGroup]="startupForm">
      <div class="row">
        <div class="col-4 ">
          <label>Startup Name</label>
        </div>
        <div class="col-8">
          <input formControlName="name">
        </div>
      </div>
      <div class="my-text-yellow" *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')">
        <strong>Starup name is required</strong>
      </div>
      <div class="my-text-yellow" *ngIf=" nameCtrl.dirty && nameCtrl.hasError('maxlength')">
        <strong>Consultant name can't be more than 25 characters</strong>
      </div>
      <div class="my-text-yellow" *ngIf="nameCtrl.dirty && nameCtrl.hasError('minlength')">
        <strong>Consultant name can't be less than 3 characters</strong>
      </div>
      <div class="row">
        <div class="col-4 ">
          <label>Activité</label>
        </div>
        <div class="col-8">
          <input formControlName="activity">
        </div>
      </div>
      <div class="my-text-yellow" *ngIf="activityCtrl.dirty && activityCtrl.hasError('required')">
          <strong>Activity is required</strong>
        </div>
        <div class="my-text-yellow" *ngIf=" activityCtrl.dirty && activityCtrl.hasError('maxlength')">
          <strong>Activity can't be more than 10 characters</strong>
        </div>
      <div class="row">
        <div class="col-4 ">
          <label>Représentant</label>
        </div>
        <div class="col-8">
          <input formControlName="legalAgent">
        </div>
      </div>
      <div class="my-text-yellow" *ngIf="legalAgentCtrl.dirty && legalAgentCtrl.hasError('required')">
        <strong>Legal agent name is required</strong>
      </div>
      <div class="my-text-yellow" *ngIf=" legalAgentCtrl.dirty && legalAgentCtrl.hasError('maxlength')">
        <strong>Legal Agent name can't be more than 15 characters</strong>
      </div>
      <div class="my-text-yellow" *ngIf="legalAgentCtrl.dirty && legalAgentCtrl.hasError('minlength')">
        <strong>Legal Agent name can't be less than 3 characters</strong>
      </div>
      <div class="row">
        <div class="col-4 ">
          <label>Co-fondateur(s)</label>
        </div>
        <div class="col-8">
          <input min="0" type="number" formControlName="coFounders">
        </div>
      </div>
      <div class="my-text-yellow" *ngIf="coFoundersCtrl.dirty && coFoundersCtrl.hasError('required')">
          <strong>Number of co-founders is required</strong>
        </div>
      <div class="row">
        <div class="col-4 ">
          <label>Description</label>
        </div>
        <div class="col-8">
          <textarea type="textarea" formControlName="description"></textarea>
        </div>
      </div>
      <div class="my-text-yellow" *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('required')">
        <strong>Description is required</strong>
      </div>
      <div class="my-text-yellow" *ngIf=" descriptionCtrl.dirty && descriptionCtrl.hasError('maxlength')">
        <strong>Description can't be more than 250 characters</strong>
      </div>
      <div class="row">
        <div class="col-4 ">
          <label>Adresse</label>
        </div>
        <div class="col-8">
          <input formControlName="address">
        </div>
      </div>
      <div class="my-text-yellow" *ngIf=" addressCtrl.dirty && addressCtrl.hasError('maxlength')">
          <strong>Address can't be more than 25 characters</strong>
        </div>
      <div class="row">
        <div class="col-4 ">
          <label>Consultant</label>
        </div>
        <div class="col-8">
          <select formControlName="consultant">
            <option  *ngFor="let consultant of consultants" value="{{consultant.name}}">{{consultant.name}}
          </select>
        </div>
      </div>
      <div class="my-text-yellow" *ngIf="consultantCtrl.dirty && consultantCtrl.hasError('required')">
        <strong>Consultant is required</strong>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-4 offset-4">
          <button [disabled]="startupForm.invalid" class="btn btn-primary my-red-background" type="submit">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
