/* You can add global styles to this file, and also import other style files */
.red {
    background-color: #FC3C3C !important;
}

.yellow {
    background-color: #F8B500 !important;
}

.my-text-white {
    color: #FFF4E0 !important;
}

.my-text-yellow {
    color: #F8E90B !important;
}

.my-background-color {
    background-color:  #FFF4E0 !important;
}

.my-yellow-background {
    background-color: #F8B500 !important;
    border-color: #F8B500 !important;
}
.my-red-background {
    background-color: #FC3C3C !important;
    border-color: #FC3C3C !important;
}